<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>The News Paper - News &amp; Lifestyle Magazine Template</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <th:block th:include="/static/header_area"></th:block>
        <!-- Navbar Area -->
        <th:block th:include="/static/navbar_area"></th:block>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- ##### Hero Area Start ##### -->
    <th:block th:include="/static/HeroArea"></th:block>
    <!-- ##### Hero Area End ##### -->


    <!-- ##### Contact Form Area Start ##### -->
    <div class="contact-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-title">
                        <h2>Зворотній звʼязок</h2>
                        <br/><span th:utext="${message}"></span><br/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="contact-form-area">
                        <form action="#" th:action="@{/contact}" th:object="${contact}" method="post">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="E-mail">
                                </div>
                                <div class="col-12">
                                    <input type="text" th:field="*{subject}" class="form-control" id="subject" placeholder="Subject">
                                </div>
                                <div class="col-12">
                                    <textarea name="message" th:field="*{message}" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn newspaper-btn mt-30 w-100" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <!-- Single Contact Information -->
                    <div class="single-contact-information">
                        <h6>Адреса:</h6>
                        <p>Полярна 8-А<br>Київ<br>Україна<br>04201</p>
                    </div>
                    <!-- Single Contact Information -->
                    <div class="single-contact-information">
                        <h6>Телефон:</h6>
                        <p>+380(67)2437595 <br> +380(50)-4100047</p>
                    </div>
                    <!-- Single Contact Information -->
                    <div class="single-contact-information">
                        <h6>Email:</h6>
                        <p>info@toloka.kiev.ua</p>
                    </div>
                    <div class="single-contact-information">
                        <h6>Сайт:</h6>
                        <p><a href="http://toloka.kiev.ua">http://toloka.kiev.ua</a></p>
                    </div>
                </div>
            </div>

            <!-- Google Maps -->
            <div class="map-area">
                <div id="googleMap"></div>
            </div>

        </div>
    </div>
    <!-- ##### Contact Form Area End ##### -->


    <!-- ##### Footer Area Start ##### -->
    <th:block th:include="/static/footer_area"></th:block>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <th:block th:include="/static/body_javascripts"></th:block>
    <!-- ##### All Javascript Files ##### -->

</body>

</html>