<!-- ##### All Javascript Files int start ##### -->
<!-- jQuery-2.2.4 js -->
<script type="text/javascript" src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Bootstrap js -->
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
<!-- jQuery-2.2.4 js -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
<!-- Popper js -->
<script type="text/javascript" src="/js/bootstrap/popper.min.js"></script>
<!-- All Plugins js -->
<script type="text/javascript" src="/js/plugins/plugins.js"></script>
<!-- Active js -->
<script type="text/javascript" src="/js/active.js"></script>
<!-- ##### All Javascript Files int end ##### -->
